.venv/
__pycache__/
*.py[cod]

.idea/
.vscode/

.streamlit/secrets.toml

.DS_Store
Thumbs.db

data/pf_operacoes_index.csv
data/pf_operacoes_index_check.csv
data/pf_operacoes_conteudos.csv
data/noticias_markdown/
data/analise_qualitativa/*.csv
data/analise_qualitativa/*.md
